header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    border: 1px black solid;
}

.Logo h2{
    display: flex;
    font-size: 2rem;
    border: 1px black solid;
    z-index: 2;

}

.Topicos ul{
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
    gap: 3rem;
    list-style: none;
    border: 1px black solid;

}